<?xml version="1.0" encoding="UTF-8" standalone="no"?><web-app xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" version="2.5" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
  <display-name>Archetype Created Web Application</display-name>
  <context-param>
    <param-name>slim3.rootPackage</param-name>
    <param-value>com.suebosoft.work.helloworld2</param-value>
  </context-param>
  
  <filter>
    <filter-name>HotReloadingFilter</filter-name>
    <filter-class>org.slim3.controller.HotReloadingFilter</filter-class>
  </filter>
  <filter>
    <filter-name>DatastoreFilter</filter-name>
    <filter-class>org.slim3.datastore.DatastoreFilter</filter-class>
  </filter>
  
  <servlet>
    <servlet-name>GlobalTransactionServlet</servlet-name>
    <servlet-class>org.slim3.datastore.GlobalTransactionServlet</servlet-class>
    <load-on-startup>1</load-on-startup>
  </servlet>

  <servlet>
    <servlet-name>SystemServiceServlet</servlet-name>
    <servlet-class>com.google.api.server.spi.SystemServiceServlet</servlet-class>
    <init-param>
      <param-name>services</param-name>
      <param-value>com.suebosoft.work.helloworld2.service.FacebookV1Service,com.suebosoft.work.helloworld2.service.Slim3V1Service</param-value>
    </init-param>
  </servlet>

  <servlet-mapping>
    <servlet-name>GlobalTransactionServlet</servlet-name>
    <url-pattern>/slim3/gtx</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  <servlet-name>SystemServiceServlet</servlet-name>
    <url-pattern>/_ah/spi/*</url-pattern>
  </servlet-mapping>

  <security-constraint>
    <web-resource-collection>
      <web-resource-name>admin</web-resource-name>
      <url-pattern>/slim3/gtx/*</url-pattern>
    </web-resource-collection>
    <auth-constraint>
      <role-name>admin</role-name>
    </auth-constraint>
  </security-constraint>
  
</web-app>